
div.card {
  text-align: center;
  padding-bottom: 25px;
  
}
div.card1 {
    text-align: center;
    padding-bottom: 25px;
    background: yellow;
}
div.card2 {
    text-align: center;
    padding-bottom: 25px;
    background: orange;
}
div.pokemonOptions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 50px 25px 50px;
  }

#team1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 50px 25px 50px;
}

div.teamOneStats {
    display: flex;
    flex-direction: column
}

div.cardButtons {
    display: flex;
    justify-content: space-around;
}

div.cardStats {
    display: flex;
    flex-direction: column
}

div.cardMoves {
    display: flex;
}

div.revealTeams {
    display: flex;
    padding-left: 55px;
}

div.battleBox {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;

}